@page "/Workout/{WorkoutId}/{WorkoutName?}"
@model GymTrackerProject.Pages.Workouts.WorkoutModel
@{
    ViewData["Title"] = Model.WorkoutName ?? "Тренировка";
}

@if(Model.Details.Count == 0)
{
    <p>Здесь пока нет упражнений.</p>
}
else
{
    <ul>
    @foreach (var detail in Model.Details)
    {
       <li>
           @detail.ExerciseName @detail.ExerciseCategory
            <div class="card p-3 mb-2">

                @if (!Model.Details.Any())
                {
                    <p class="text-muted">Нет прогресса</p>
                }
                else
                {
                    <ul>
                        @foreach (var sets in detail.Progress)
                        {
                            <li>@sets.UpdatedDate.ToShortDateString(): @sets.Weight кг × @sets.Reps</li>
                        }
                    </ul>
                }
            </div>
       </li>
    }
    </ul>
}
<button class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#addExerciseBlock"
        aria-expanded="false"
        aria-controls="addExerciseBlock">
    Добавить упражнение
</button>

<div class="collapse mt-3" id="addExerciseBlock">
    <form method="post" asp-page-handler="AddExercise" class="d-flex gap-2 align-items-start">
        <input type="hidden" asp-for="WorkoutId" />
        <input type="hidden" asp-for="WorkoutName" />

        <select class="form-select" asp-for="SelectedExerciseId" asp-items="Model.Items">
            <option value="">-- выберите упражнение --</option>
        </select>

        <button class="btn btn-success" type="submit">Добавить</button>
    </form>
</div>


