@page
@model GymTrackerProject.Pages.Workouts.WorkoutListModel
@{
}

@if(Model.WorkoutCount == 0)
{
	<p>Здесь пока ничего нет. Добавьте тренировки.</p>
}
else
{
	<ul>
		@foreach (var workout in Model.Workouts)
		{
			<li class="mb-2">
				<a class="text-decoration-none"
				   asp-page="/Workouts/Workout"
				   asp-route-WorkoutId="@workout.WorkoutId"
				   asp-route-WorkoutName="@workout.Name">
					@workout.CreatedDate.ToShortDateString(): @workout.Name
				</a>

				<form method="post" asp-page-handler="DeleteWorkout" class="ms-auto"
					  onsubmit="return confirm('Удалить тренировку?');">
					<input type="hidden" name="id" value="@workout.WorkoutId" />
					<button type="submit" class="btn btn-danger btn-sm">Удалить</button>
				</form>
			</li>
		}
	</ul>
}

<a class="btn btn-yellow btn-lg px-4 fw-semibold" asp-page="/Workouts/AddWorkout">Добавить тренировку</a>
